*, *:before, *:after {
    box-sizing: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

img {
    border: 0;
}

input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

html,
body {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

body {
    line-height: 1;
    margin: 0;
}

.wrapper {
    width: auto;
    min-width: 320px;
    position: relative;
    min-height: calc(100vh - 55px - 44px - 1px);
}

.col-container {
    /* display: flex; */
    flex-wrap: wrap;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
}

.event-container {
    position: relative;
    display: flex;
}
@media (max-width: 1080px) {
    .event-container {
        display: block;
    }
}
.event-content {
    min-width: 0;
    flex: 0 0 794px;
}

.wf-card {
    overflow: hidden;
    position: relative;
    border: 0 !important;
    display: block;
}

.event-bracket-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}
.event-brackets-container {
    padding: 20px;
    overflow-x: auto;
}
.bracket-container {
    display: flex;
    padding: 10px 0;
}
.bracket-col {
    margin-right: 56px;
}

/* /// LABELS , SPACING */
.bracket-col-label {
    margin-bottom: 15px;
    color: #444;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}
.bracket-row {
    position: relative;
}
.bracket-item.mod-empty {
    border: 2px solid transparent;
    height: 70px;
}
.bracket-item {
    right: 0;
    font-size: 11px;
    font-weight: 400;
    display: block;
    margin-bottom: 31px;
    position: relative;
    border: 2px solid #aaa;
    border-radius: 3px;
    z-index: 1;
}
.bracket-item.mod-last {
    margin-bottom: 0 !important;
}

/* /// BRACKET */
.bracket-container.mod-compact .bracket-col {
    margin-right: 23px;
}
.bracket-container.mod-compact .bracket-col {
    margin-right: 23px;
}
/* /// // UPPER BRACKET */
.bracket-container.mod-upper .bracket-col.mod-2 {
    padding-top: 50px;
}
.bracket-container.mod-upper .bracket-col.mod-2 .bracket-item {
    margin-bottom: 132px;
}
.bracket-container.mod-upper .bracket-col.mod-3 {
    padding-top: 150px;
}
.bracket-container.mod-upper .bracket-col.mod-3 .bracket-item {
    margin-bottom: 334px;
}
/* /// // LOWER BRACKET */
.bracket-container.mod-lower .bracket-col.mod-1 {
    padding-top: 49px;
}
.bracket-container.mod-lower .bracket-col.mod-2 {
    padding-top: 0;
}
.bracket-container.mod-lower .bracket-col.mod-2 .bracket-item {
    margin-bottom: 32px;
}
.bracket-container.mod-lower .bracket-col.mod-3 {
    padding-top: 50px;
}
.bracket-container.mod-lower .bracket-col.mod-3 .bracket-item {
    margin-bottom: 132px;
}
.bracket-container.mod-lower .bracket-col.mod-4 .bracket-item {
    margin-bottom: 133px;
}

/* /// BRACKET ITEM WITHIN */
.bracket-item-team {
    display: flex;
    justify-content: space-between;
    width: 140px;
    border-top: 1px solid #ccc;
}
.bracket-item-team.mod-first {
    border-bottom: 1px solid #ccc;
    border-top: 0;
}
.bracket-item-team.mod-winner {
    background: #cee9d3;
    font-weight: 700;
}
.bracket-item.mod-pickem .bracket-item-team.mod-winner {
    background: none;
    font-weight: 400;
}
/* /// // TEAM STUFF */
.bracket-item-team-name {
    height: 32px;
    display: flex;
    align-items: center;
}
.bracket-item-team-score {
    flex: 0 0 32px;
    height: 32px;
    justify-content: center;
    border-left: 1px solid #ccc;
    align-items: center;
    display: flex;
}
.bracket-item img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    image-rendering: -webkit-optimize-contrast;
}
.bracket-item-team-name span {
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 0;
}
/* /// // STATUS */
.bracket-item.mod-pickem .bracket-item-status {
    display: block;
}
.bracket-item-status {
    position: absolute;
    bottom: -22px;
    left: 0;
    font-size: 11px;
    padding-left: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15px;
    line-height: 15px;
}

/* /// LINES */
.bracket-item-line {
    position: absolute;
    width: 30px;
    height: 31px;
    right: -30px;
    top: 32px;
    border: 2px solid #aaa;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 3px 0 0;
}
.bracket-item-line:after {
    content: '';
    position: absolute;
    bottom: -4px;
    height: 4px;
    right: -30px;
    width: 30px;
    border: 2px solid #aaa;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 3px;
}
.bracket-container.mod-compact .bracket-item-line {
    width: 13px;
    right: -13px;
}
.bracket-container.mod-compact .bracket-item-line:after {
    right: -15px;
    width: 15px;
}
.bracket-item-line.mod-up {
    border-top: 0;
    border-bottom: 2px solid #aaa;
    top: 3px;
    border-radius: 0 0 3px 0;
}
.bracket-item-line.mod-up:after {
    top: -4px;
    border-top: 2px solid #aaa;
    border-bottom: 0;
    border-radius: 3px 0 0 0;
}
.bracket-container.mod-upper .bracket-col.mod-2 .bracket-item-line {
    height: 83px;
}
.bracket-container.mod-upper .bracket-col.mod-2 .bracket-item-line.mod-up {
    top: -49px;
}